@import '../../node_modules/antd/dist/antd.css';

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    min-width: 768px;
}

p {
    line-height: normal;
    margin: 0 0 0.8em;
}

.flex-spacer {
    flex-grow: 1;
}

.container {
    width: 100%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    align-self: center;
}

.container-fluid {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.ant-card {
    font-size: 14px;
}

.ant-card:not(.ant-card-bordered) {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.ant-card-head-title {
    font-weight: 400;
    font-size: 16px;
}
