@import "~github-markdown-css";
@import "~highlight.js/styles/atom-one-light";

.article-banner {
    height: 240px;
    background-size: auto 450px;
    background-position: center -80px;
    justify-content: flex-end;

    .banner-head {
        font-size: 32px;
    }
}

.markdown-body {
    font-size: 15px;

    ul {
        list-style: disc;
    }

    ol {
        list-style: decimal;
    }

    code, pre {
        font-family: "cjk-fallback", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    }

    .katex-display {
        overflow-x: auto;
        overflow-y: hidden;
    }
}

.article-footer {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.copyleft {
    display: block;
    margin-top: 8px;
    text-align: right;

    .cc-icon {
        width: 20px;
        height: 20px;
        margin-right: 4px;
    }
}
