@import "~github-markdown-css";

.loading-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .loading {
        font-size: 32px;
    }
}

.article-banner {
    height: 240px;
    background-size: auto 450px;
    background-position: center -80px;
    justify-content: flex-end;

    .banner-head {
        font-size: 32px;
    }
}

.markdown-body {
    margin-bottom: 16px;

    ul {
        list-style: disc;
    }

    ol {
        list-style: decimal;
    }

    code, pre {
        font-family: "cjk-fallback", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    }

    .katex {
        font-size: 22px;

        .frac-line {
            min-height: 1px;

            svg {
                margin-top: -1px;
            }
        }

        .sqrt .hide-tail:not(.frac-line) {
            overflow: visible;
        }
    }
}
