@import "~github-markdown-css";
@import "~highlight.js/styles/tomorrow";

.loading-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .loading {
        font-size: 32px;
    }
}

.article-banner {
    height: 240px;
    background-size: auto 450px;
    background-position: center -80px;
    justify-content: flex-end;

    .banner-head {
        font-size: 32px;
    }
}

.markdown-body {
    margin-bottom: 16px;

    ul {
        list-style: disc;
    }

    ol {
        list-style: decimal;
    }

    code, pre {
        font-family: "cjk-fallback", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    }

    .katex {
        // @TODO: Apply this style to Chrome only
        font-size: 22px;
    }
}
