@import "/assets/css/icomoon.css";

.editor-title {
    height: 56px;
    line-height: 56px;
    border-bottom: 1px solid #eee;

    display: flex;
    flex-direction: row;
    align-items: stretch;

    input {
        font-size: 20px;
        font-weight: 300;
        background: #fff;

        width: 100%;
        padding: 0 16px;
        border: none;
        outline: none;
    }
}

.editor {
    height: calc(100vh - 186px);
    overflow-y: hidden;
    background: #fff;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.ace_editor {
    font-family: "cjk-fallback", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
    line-height: 20px !important;
}

.ace_selection {
    border-radius: 0 !important;
}

.md-preview {
    width: 50%;
    margin: 0;
    padding: 16px;
    border-left: 1px solid #eee;
    overflow-y: auto;
    position: relative;


    // The bug has been fixed incompletely in KaTeX 0.9.0-beta
    .katex {
        /*
        .frac-line {
            min-height: 1px;

            svg {
                margin-top: -1px;
            }
        }
        */

        .sqrt .hide-tail:not(.frac-line) {
            overflow: visible;
        }
    }


    // This element will let the page scrolls even if overflow-y is not visible
    .katex-mathml {
        display: none;
    }

    .math-error {
        color: #c00;
    }
}
