.main-layout {
    min-height: 100vh;
}

.main-header {
    background: #fff;
    display: flex;
    align-items: center;

    .logo {
        padding: 0 20px;

        &, & img {
            height: 40px;
        }
    }

    .ant-menu {
        align-self: stretch;
        border-bottom: none;

        .ant-menu-item {
            line-height: 64px;
            height: 64px;
            border-bottom-width: 3px;
        }
    }
}

.main-footer {
    text-align: center;
}
