.profile-banner {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: url("/assets/img/profile-banner.jpg") no-repeat fixed bottom;

    .banner-avatar {
        width: 128px;
        height: 128px;
        background: #fff;
        transform: rotate(270deg);
        border-radius: 100%;
        border-style:solid;
        border-color: #fff;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        overflow: hidden;

        &:hover {
            box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.25);
        }
    }

    .banner-content {
        margin-top: 16px;
        text-align: center;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.65);

        .username {
            font-size: 28px;
            font-weight: 400;
        }
    }
}
