.profile-banner {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: url("/assets/img/profile-banner.jpg") no-repeat fixed center -400px;

    .banner-avatar {
        width: 128px;
        height: 128px;
        background: #fff;
        border: 3px solid #fff;
        border-radius: 67px;
        overflow: hidden;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
        transition: .3s box-shadow;

        &:hover {
            box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.25);
        }

        img {
            width: 128px;
            height: 128px;
        }
    }

    .banner-content {
        margin-top: 16px;
        text-align: center;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.65);

        .username {
            font-size: 28px;
            font-weight: 400;
        }
    }
}

.profile {
    .article-card {
        .article-footer .tools {
            display: flex;
            opacity: 0;
            flex-direction: row-reverse;
            flex-shrink: 0;
            transition: .2s opacity;

            .anticon {
                font-size: 14pt;
                height: 32px;
                line-height: 32px;
                margin-left: 12px;
                color: rgba(#000, 0.45);
                cursor: pointer;
                transition: .3s color;

                &:hover {
                    color: rgba(#000, 0.65);
                }
            }
        }

        &:hover .tools {
            opacity: 1;
        }
    }
}
