.radios-faction {
    $res-color: #108ee9;
    $enl-color: #00a854;
    $none-color: #00a2ae;

    @mixin radio-button-color($color) {
        &.ant-radio-button-wrapper-checked {
            border-color: $color;
            background: $color;
            box-shadow: -1px 0 0 0 $color;
            color: #fff;
        }

        &:not(.ant-radio-button-wrapper-checked):hover {
            color: $color;
        }
    }

    .res.ant-radio-button-wrapper {
        @include radio-button-color($res-color)
    }

    .enl.ant-radio-button-wrapper {
        @include radio-button-color($enl-color)
    }

    .none.ant-radio-button-wrapper {
        @include radio-button-color($none-color)
    }
}

.register-container .ant-alert {
    margin-bottom: 16px;
}
