.map-error {
    padding: 24px;
    text-align: center;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
}

#region-map-container {
    position: relative;
}

#region-map {
    height: 300px;
    z-index: 0;
}

#region-map-hint {
    background: #ffffff;
    padding: 8px;
    font-size: 11px;
    line-height: 14px;
    position: absolute;
    top: 10px;
    z-index: 1;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px -1px;
    display: none;
}
