.sidebar {
    padding-left: 12px;

    .ant-card {
        font-size: 13px;

        .ant-card-head-title {
            font-weight: 400;
            font-size: 15px;
        }
    }

    .tools {
        margin-bottom: 12px;

        .ant-card-body {
            display: flex;
            justify-content: space-between;
            padding: 20px 10px;

            .anticon {
                font-size: 32px;
                cursor: pointer;
                color: #ccc;
                transition: .3s color;

                &:hover {
                    color: #aaa;
                }
            }
        }
    }

    .ant-timeline {
        .ant-timeline-item {
            padding-bottom: 8px;

            .ant-timeline-item-content {
                font-size: 13px;
                padding-bottom: 0;
            }
        }

        .ant-timeline-item-last {
            &, .ant-timeline-item-content {
                padding-bottom: 0;
                min-height: 0;
            }
        }
    }
}
